{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
{% load math_tags %}
<div class="d-flex justify-content-end">
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
</div>
<div class='position-relative' id='print_container'>
    <h1 class='text-start'>ОАО "ВИТЯЗЬ"</h1>
    <h1 class='text-start'>Отдел главного метролога</h1>
    <h1 class='text-center'>Ведомость</h1>
    <h5 class='text-center'>выполненых работ по поверке СИ</h5>
    <h5 class='text-center'>подразделению {{department}} за {{ start_date|date:"F" }} {{ start_date|date:"Y" }}г.</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <th>Наименование<br>Тип СИ</th>
                <th>Кол. СИ</th>
                <th>Разр. работ</th>
                <th>Трудоем. на ед.</th>
                <!--<th>Основная з/п (руб.)</th>-->
                <th>Примечание</th>
            </thead>
            <tbody>
                {% for query in queryset %}
                <tr class=''>
                    <td class=''>{{query.name|default_if_none:""}}<br>{{query.type|default_if_none:""}}</td>
                    <td class=''>{{query.inv_num_list|length}}</td>
                    <td class=''>{{query.rank_verification|default_if_none:""}}</td>
                    <td class=''>{{query.standart_verification|default_if_none:""}}</td>
                    <!--<td class=''></td>-->
                    <td class=''></td>
                </tr>
                <tr>
                    <td colspan='6' class="text-start">
                        {% for inv_num in query.inv_num_list %} {{inv_num}}, {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table w-75 text-left w-auto">
            <thead class='border-0'>
                <th class='border-0'>Всего по ведомости:</th>
            </thead>
            <tbody>
                <tr class='border-0'>
                    <td class='border-0'>Трудоёмкость</td>
                    <td class='border-0'>{{sum_queryset.standart_sum|default_if_none:""}}</td>
                </tr>
                <tr class='border-0'>
                    <td class='border-0'>Количество СИ</td>
                    <td class='border-0'>{{sum_queryset.total_amount|default_if_none:""}}</td>
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}