{% extends 'base_generic.html' %}
{% load static %}
{% load math_tags %}
{% block content %}
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
<div class='position-relative' id='print_container'>
        <h1 class='text-center'>СПРАВКА</h1>
        <h5 class='text-center'>о трудоемкости поверочных работ по цеху {{department.name}} на {% if period_is_month %}{{ start_date|date:"F" }} {{ start_date|date:"yy" }}г.{% else %}{{ start_date|date:"yy" }}г.{% endif %}</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <tr>
                    <th>Наименование<br>Тип</th>
                    <th>Кол СИ</th>
                    <th>Кол-во поверок</th>
                    <th>Кол-во н/час</th>
                    <th>Разр. работ</th>
                    <th>Примечание</th>
                </tr>
            </thead>
            <tbody>
                {% for data in queryset %}
                {% ifchanged %}
                    <tr class='border-0'><td colspan=6 class='border-0'><span>Вид поверки: {{ data.verification_type }}</span></td></tr>
                {% endifchanged %}
                    <tr>
                        <td>{{data.moc_name}} {{data.moc_type}}</td>
                        <td>{{data.verification_count}}</td>
                        <td>{{data.verification_count}}</td>
                        <td>{{data.standart_sum}}</td>
                        <td>{{data.avg_rank|floatformat:0}}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class='border-0'>Итого:</td>
                    <td class='border-0'>{{sum_queryset.verification_count}}</td>
                    <td class='border-0'>{{sum_queryset.verification_count}}</td>
                    <td class='border-0'>{{sum_queryset.standart_sum}}</td>
                    <td class='border-0'></td>
                    <td class='border-0'></td>
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}