{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
<div class='position-relative' id='print_container'>
    <h5>Предупреждаю, что после указаного<br>срока эксплуатировать перечисленные<br>средства измерения<br><strong>ЗАПРЕЩЕНО</strong></h5>
    <h5 class='position-absolute top-0 end-0'>Начальнику подразделения "Исп.центр"</h5>
    <h1 class='text-center'>СЛУЖЕБНАЯ ЗАПИСКА<br>ДЛЯ ВСТРОЕННЫХ СИ</h1>
    <h5 class='text-center'>прошу предоставить на поверку в апреле<br>следующие средства измерений, закреплённые за подразделением</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <th>Наименование средств измерения</th>
                <th>Место установки</th>
                <th>Заводской номер</th>
                <th>Дата последней поверки</th>
            </thead>
            <tbody>
                {% for query in queryset %}
                {% ifchanged query.verification_type %}
                    <tr class='border-0'><td colspan=4 class='border-0'>Вид поверки: <span class='text-decoration-underline fw-bold'>{{ query.get_verification_type_display }}</span></td></tr>
                {% endifchanged %}
                {% ifchanged query.change_type.name %}
                    <tr class='border-0'><td colspan=4 class='border-0'><span class='text-decoration-underline fw-bold'>{{ query.change_type.name }}</span></td></tr>
                {% endifchanged %}
                <tr class=''>
                    <td class=''>{{query.moc_group.name}} {{query.moc_type.type}}</td>
                    <td class=''>{{query.device_station.station_inv_number}} {{query.device_station.station_name}}</td>
                    <td class=''>{{query.factory_number}}</td>
                    <td class=''>{{query.verification_info.last.verification_date|date:"d.m.Y"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Главный метролог</p>
</div>
{% endblock %}