{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
<div id='print_container'>
    <h1 class='text-center'>СПРАВКА</h1>
    <h5>о количестве СИ по видам поверки по состоянию на {% now "Y-m-d" %}</h5>
    {% for query in queryset %}
    <div class="pdf-block">
        <br>
        <p>Вид измерения: {{query.change_type__name|default_if_none:""}}</p>
        <table class="table table-bordered border border-dark w-100 text-center">
            <tbody>
                <tr>
                    <td colspan='2'>Государственная поверка</td>
                    <td>Ведомственная поверка</td>
                    <td rowspan='2'>Общее количество СИ</td>
                </tr>
                <tr>
                    <td>Образцовые</td>
                    <td>Рабочие</td>
                    <td>Рабочие</td>
                </tr>
                <tr>
                    <td><span>{{query.count_g_o|default_if_none:""}}</span></td>
                    <td><span>{{query.count_g_r|default_if_none:""}}</span></td>
                    <td><span>{{query.count_v_r|default_if_none:""}}</span></td>
                    <td><span>{{query.total|default_if_none:""}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}