{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
<div class='position-relative' id='print_container'>
    <h1 class='text-center'>ПЕРЕЧЕНЬ СИ</h1>
    <h5 class='text-center'>установленных на оборудовании и переведенных<br>в индикаторы по подразделению {{department}}</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <tr>
                    <th rowspan='2'>Наименование<br>Тип СИ</th>
                    <th rowspan='2'>Заводской номер</th>
                    <th colspan='2'>Место установки</th>
                    <th rowspan='2'>Дата последней поверки</th>
                </tr>
                <tr>
                    <th>Наим., тип оборудов.</th>
                    <th>Инвентарный номер</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </tr>
            </thead>
            <tbody>
                {% for query in queryset %}
                <tr class=''>
                    <td class=''>{{query.moc_group.name|default_if_none:""}} {{query.moc_type.type|default_if_none:""}}</td>
                    <td class=''>{{query.factory_number|default_if_none:""}}</td>
                    <td class=''>{{query.device_station.station_name|default_if_none:""}}</td>
                    <td class=''>{{query.inv_number|default_if_none:""}}</td>
                    <td class=''>{{query.verification_info.last.verification_date|date:"d.m.Y"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}