{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-end">
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
</div>
<div id='print_container'>
    <h1 class='text-center'>С В Е Д Е Н И Я</h1>
    <h5 class='text-center'>о наличии СИ типа {{moc_name}}</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <th>Заводской номер</th>
                <th>Инвентарный номер</th>
                <th>Дата последней поверки</th>
                <th>Место закрепления</th>
                <th>Вид поверки</th>
            </thead>
            <tbody>
                {% for query in queryset %}
                {% ifchanged query.last_device_status %}
                    <tr><td colspan=5>{{ query.last_device_status|default_if_none:"" }}</td></tr>
                {% endifchanged %}
                <tr>
                    <td>{{query.factory_number|default_if_none:""}}</td>
                    <td>{{query.inv_number|default_if_none:""}}</td>
                    <td>{{query.last_verification_date|date:"d.m.Y"}}</td>
                    <td>{{query.last_location_name|default_if_none:""}}</td>
                    <td>{{query.verification_type|default_if_none:""}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}