{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-end">
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
</div>
<div class='position-relative' id='print_container'>
    <h5>Предупреждаю, что эксплуатация СИ<br>с истекшим сроком поверки<br>преследуется законом</h5>
    <h5 class='position-absolute top-0 end-0'>Начальнику подразделения {{location_name}}</h5>
    <h1 class='text-center'>П Р Е Д П И С А Н И Е</h1>
    <h5 class='text-center'>вашим подразделением нарушен график поверки СИ. прошу принять меры к<br>виновным и немедленно представить нижеперечисленные СИ на поверку</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <th>Наименование средств измерения</th>
                <th>Заводской номер</th>
                <th>Инвентарный номер</th>
                <th>Дата последней поверки</th>
            </thead>
            <tbody>
                {% for query in queryset %}
                {% ifchanged query.verification_type %}
                    <tr class='border-0'><td colspan=4 class='border-0'>Вид поверки: <span class='text-decoration-underline fw-bold'>{{ query.get_verification_type_display|default_if_none:"" }}</span></td></tr>
                {% endifchanged %}
                {% ifchanged query.change_type.name %}
                    <tr class='border-0'><td colspan=4 class='border-0'><span class='text-decoration-underline fw-bold'>{{ query.change_type.name|default_if_none:"" }}</span></td></tr>
                {% endifchanged %}
                <tr class=''>
                    <td class=''>{{query.moc_group.name|default_if_none:""}} {{query.moc_type.type|default_if_none:""}}</td>
                    <td class=''>{{query.factory_number|default_if_none:""}}</td>
                    <td class=''>{{query.inv_number|default_if_none:""}}</td>
                    <td class=''>{{query.last_verification_date|date:"d.m.Y"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Главный метролог</p>
</div>
{% endblock %}