{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
<div class='position-relative' id='print_container'>
    <h1 class='text-center'>ОАО "ВИТЯЗЬ"</h1>
    <h1 class='text-center'>Отдел главного метролога</h1>
    <h1 class='text-center'>КВИТАНЦИЯ (на получение СИ)</h1>
    <h5 class='text-center'>Перечень СИ, прошедших поверку на {% now "d.m.Y" %}<br>от подразделения {{department}}</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <th>Наименование<br>Тип СИ</th>
                <th>Заводской номер</th>
                <th>Инвентарный номер</th>
                <th>Дата последней поверки</th>
                <th>Дата выдачи</th>
                <th>Примечание</th>
            </thead>
            <tbody>
                {% for query in queryset %}
                <tr class=''>
                    <td class=''>{{query.moc_group.name|default_if_none:""}}<br>{{query.moc_type.type|default_if_none:""}}</td>
                    <td class=''>{{query.factory_number|default_if_none:""}}</td>
                    <td class=''>{{query.inv_number|default_if_none:""}}</td>
                    <td class=''>{{query.verification_info.last.verification_date|date:"d.m.Y"}}</td>
                    <td class=''>{{query.verification_info.last.workshop_issue_date|date:"d.m.Y"}}</td>
                    <td class=''></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class='d-flex'>
            <div class='d-inline-block text-center'>
                <h5>Выдал _________</h5>
                <p class='text-end me-4'>подпись</p>
            </div>
            <div class='d-inline-block ms-auto text-center'>
                <h5>Получил _________</h5>
                <p class='text-end me-4'>подпись</p>
            </div>
        </div>
</div>
{% endblock %}