{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
<div class='position-relative' id='print_container'>
    <h1 class='text-center'>В Е Д О М О С Т Ь</h1>
    <h5 class='text-center'>СИ с исткешим сроком поверки по состоянию на {% now "d.m.Y" %}</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <th>Наименование средств измерения</th>
                <th>Заводской номер</th>
                <th>Инвентарный номер</th>
                <th>Место закрепления</th>
                <th>Р/О</th>
                <th>Дата последней поверки</th>
                <th>Примечание</th>
            </thead>
            <tbody>
                {% for query in queryset %}
                {% ifchanged query.verification_type %}
                    <tr class='border-0'><td colspan=7 class='border-0'>Вид поверки: <span class='text-decoration-underline fw-bold'>{{ query.get_verification_type_display }}</span></td></tr>
                {% endifchanged %}
                {% ifchanged query.change_type.name %}
                    <tr class='border-0'><td colspan=7 class='border-0'><span class='text-decoration-underline fw-bold'>{{ query.change_type.name }}</span></td></tr>
                {% endifchanged %}
                <tr class='border-0'>
                    <td class='border-0'>{{query.moc_group.name}} {{query.moc_type.type}}</td>
                    <td class='border-0'>{{query.factory_number}}</td>
                    <td class='border-0'>{{query.inv_number}}</td>
                    <td class='border-0'>{{query.last_device_location}}</td>
                    <td class='border-0'>{{query.sign_o_r}}</td>
                    <td class='border-0'>{{query.last_verification_date|date:"d.m.Y"}}</td>
                    <td class='border-0'></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}