{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
<div class='position-relative' id='print_container'>
        <div class='d-flex'> 
    <div class='d-inline-block ms-auto text-center'>
        <h1>УТВЕРЖДАЮ</h1>
        <h3>Главный метролог</h3>
    </div>
    </div>
    <h1 class='text-center'>О Т Ч Е Т</h1>
    <h3 class='text-center'>по накопительным нарядам бюро поверки СИ за {{start_date|date:"F"}} {{start_date|date:"Y"}}г.</h3>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <tr>
                    <th rowspan='2'>Выполненные работы</th>
                    <th colspan='2'>Первичная поверка</th>
                    <th colspan='2'>Итоговая поверка</th>
                    <th rowspan='2'>Примечание</th>
                </tr>
                <tr>
                    <th>Кол-во</th>
                    <th>Трудоемк.</th>
                    <th>Кол-во</th>
                    <th>Трудоемк.</th>
                </tr>
            </thead>
            <tbody>
                {% for work in work_list %}
                    <tr class=''>
                            <td class=' text-start'>{{work.work_name}}</td>
                            <td class=''></td>
                            <td class=''></td>
                            <td class=''></td>
                            <td class=''></td>
                            <td class=''></td>
                        </tr>
                    {% for data in work.data %}
                    {% if not data.change_type == '' %}
                        <tr class=''>
                            <td class=' text-start'>{{data.change_type}}</td>
                            <td class=''>{% if data.total_sum_first %}{{data.total_sum_first}}{% endif %}</td>
                            <td class=''>{% if data.complexity_first %}{{data.complexity_first}}{% endif %}</td>
                            <td class=''>{% if data.total_sum_final %}{{data.total_sum_final}}{% endif %}</td>
                            <td class=''>{% if data.complexity_final %}{{data.complexity_final}}{% endif %}</td>
                            <td class=''></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}