{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-end">
<button class="btn btn-dark" onclick='print_to_html()'>Печать</button>
</div>
<div class='position-relative' id='print_container'>
    <div class='d-flex'> 
    <div class='d-inline-block ms-auto text-center'>
        <h1>УТВЕРЖДАЮ</h1>
        <h3>Главный метролог</h3>
        <br>
        <span>________________</span>
        <p>подпись</p>
    </div>
    </div>
        <h1 class='text-center'>ПЛАН - ГРАФИК</h1>
        <h5 class='text-center'>поверки средств измерений на {{start_date|date:"F"}} {{start_date|date:"Y"}}</h5>
        <br>
        <table class="table table-bordered border border-dark w-100 text-center">
            <thead>
                <tr>
                    <th rowspan='2'>Тип СИ</th>
                    <th rowspan='2'>Инвентарный номер</th>
                    <th rowspan='2'>Вид поверки</th>
                    <th rowspan='2'>Дата последней поверки</th>
                    <th colspan='2'>Принято</th>
                    <th colspan='2'>Итоговое предъявление</th>
                    <th rowspan='2'>Трудоемкость, н/ч</th>
                </tr>
                <tr>
                    <th>Дата</th>
                    <th>Подпись диспет.</th>
                    <th>Дата</th>
                    <th>Ф.И.О. поверителя</th>
                </tr>
            </thead>
            <tbody>
                {% for location_data in result_list %}
                    <tr class='border-0'><td colspan=9 class='border-0'><span>{{ location_data.location|default_if_none:"" }}</span></td></tr>
                    {% for data in location_data.values %}
                        <tr>
                            <td>{{data.moc_type.type|default_if_none:""}}</td>
                            <td>{{data.inv_number|default_if_none:""}}</td>
                            <td>{{data.verification_type|default_if_none:""}}</td>
                            <td>{{data.last_verification_date|date:"d.m.Y"}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{data.moc_type.standart_verification|default_if_none:""}}</td>
                        </tr>
                    {% endfor %}
                    <tr class=''><td colspan=9 class='text-end'>Итого по подразделению :  <span class='fw-bold'>{{ location_data.total_count|default_if_none:"" }}</span> н/ч</td></tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}