{% extends 'base_generic.html' %}
{% load static %}
{% block  content %}
    <div class='container-fluid'>
    <div class='col'>
        <div class=''>
            <h5>Пределы измерения</h5>
            <div>
                <button id='btn-show-modal' class='btn btn-dark' type='button' onclick="flush_modal_window(this)">Добавить</button>

                {% if 'no_page' in request.GET %}
                    <a href="{% querystring no_page=None %}" class="page-link d-inline"> Показать постранично </a>
                {% else %}
                    <a href="{% querystring page=1 %}&no_page" class="page-link d-inline"> Показать все </a>
                {% endif %}
                
                    <form action="" method="get" class="d-inline">
                        <input type="text" name="q" placeholder="Поиск" value="{{ request.GET.q|default_if_none:"" }}">
                        <button type="submit" class="btn btn-primary-outline">
                            <img src="{% static 'img/search.svg' %}" alt="Искать" width="32" height="32" />
                        </button>
                    </form>
                <br>
            </div>
            {% if user.is_staff %}
                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modal_window_migrate" type="button">Скопировать старую БД</button>
            {% endif %}
            <div class="table-container">
                <table class="table table-striped table-bordered border border-dark w-100">
                    <thead>
                        <th><a class='nav-link' href="{% querystring ordering='id' %}">{{verbose_names.id}}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='type' %}">{{verbose_names.type}}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='min_limit' %}">{{verbose_names.min_limit}}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='max_limit' %}">{{verbose_names.max_limit}}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='min_measurement' %}">{{verbose_names.min_measurement}}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='max_measurement' %}">{{verbose_names.max_measurement}}</a></th>
                        <th colspan="2"></th>
                    </thead>
                    <tbody>
                        {% for moc_limit in object_list %}
                            <tr>
                                <td>{{moc_limit.id}}</td>
                                <td>{{moc_limit.type}}</td>
                                <td>{{moc_limit.min_limit}}</td>
                                <td>{{moc_limit.max_limit}}</td>
                                <td>{{moc_limit.min_measurement}}</td>
                                <td>{{moc_limit.max_measurement}}</td>
                                <td><button type="button" class="btn btn-primary-outline" onclick="fill_modal_window(this)" id="submitButton">
                                    <img src="{% static 'img/pencil-square.svg' %}" fill="currentColor" alt="Изменить" width="32" height="32" />
                                </button></td>
                                <td><button type="button" class="btn btn-primary-outline" onclick="show_delete_modal(this)">
                                    <img src="{% static 'img/trash-fill.svg' %}" alt="Удалить" width="32" height="32" />
                                </button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id='form_container'>
            
            <div id="modal_window_add" class="modal fade" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">Пределы измерения</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form id="modal_form" action="{%url 'moc_group_add'%}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-dark" type="submit">Сохранить</button>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_staff %}
            <div id="modal_window_migrate" class="modal fade" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">Вы уверены?</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form action="{%url 'moc_limit_migrate'%}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-dark" type="submit">Подтвердить</button>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% include 'delete_confirmation_modal.html' %}
        </div>
    </div>
    </div>
{% endblock %}
