{% extends 'base_generic.html' %}
{% load static %}
{% block  content %}
    <div class='container-fluid'>
    <div class='col'>
        <div class=''>
            <h5>Данные по типам СИ</h5>
            <div class='d-flex justify-content-end'>
            <div>
                    {% if user.is_staff %}
                        <button class="btn btn-dark me-1" data-bs-toggle="modal" data-bs-target="#modal_window_migrate" type="button">Скопировать старую БД</button>
                    {% endif %}
                    <form action="" method="get" class="d-inline">
                        <input class='search-input' type="text" name="q" placeholder="Поиск" value="{{ request.GET.q|default_if_none:"" }}">
                        <button type="submit" class=" search-button btn btn-primary-outline border-0">
                            <img src="{% static 'img/search.svg' %}" alt="Искать" width="24" height="24" />
                        </button>
                    </form>
                <button id='btn-show-modal' class='btn btn-dark' type='button' onclick="flush_modal_window(this)">Добавить</button>
                <br>
            </div>
            </div>
            <div class="table-container">
                <table class="table-fixed table table-striped table-bordered border border-dark w-100">
                    <thead>
                        <th><a class='nav-link' href="{% querystring ordering='id' %}">{{verbose_names.id}}{% if request.GET.ordering == 'id' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='type' %}">{{verbose_names.type}}{% if request.GET.ordering == 'type' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='code' %}">{{verbose_names.code}}{% if request.GET.ordering == 'code' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='accurancy' %}">{{verbose_names.accurancy}}{% if request.GET.ordering == 'accurancy' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='cost' %}">{{verbose_names.cost}}{% if request.GET.ordering == 'cost' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='min_limit' %}">{{verbose_names.min_limit}}{% if request.GET.ordering == 'min_limit' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='max_limit' %}">{{verbose_names.max_limit}}{% if request.GET.ordering == 'max_limit' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='min_measurement' %}">{{verbose_names.min_measurement}}{% if request.GET.ordering == 'min_measurement' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='max_measurement' %}">{{verbose_names.max_measurement}}{% if request.GET.ordering == 'verbose_names.max_measurement' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='standart_verification' %}">{{verbose_names.standart_verification}}{% if request.GET.ordering == 'standart_verification' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='standart_repair' %}">{{verbose_names.standart_repair}}{% if request.GET.ordering == 'verbose_names.standart_repair' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='rank_verification' %}">{{verbose_names.rank_verification}}{% if request.GET.ordering == 'rank_verification' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th><a class='nav-link' href="{% querystring ordering='rank_repair' %}">{{verbose_names.rank_repair}}{% if request.GET.ordering == 'rank_repair' %} <img src="{% static 'img/arrow-up.svg' %}"style="transform: rotate(180deg);" width="16" height="16">{% endif %}</a></th>
                        <th colspan="2" style="width: 10%;"></th>
                    </thead>
                    <tbody>
                        {% for moc_type in object_list %}
                            <tr>
                                <td>{{moc_type.id}}</td>
                                <td>{{moc_type.type|default_if_none:""}}</td>
                                <td>{{moc_type.code|default_if_none:""}}</td>
                                <td>{{moc_type.accurancy|default_if_none:""}}</td>
                                <td>{{moc_type.cost|default_if_none:""}}</td>
                                <td>{{moc_type.min_limit|default_if_none:""}}</td>
                                <td>{{moc_type.max_limit|default_if_none:""}}</td>
                                <td>{{moc_type.min_measurement|default_if_none:""}}</td>
                                <td>{{moc_type.max_measurement|default_if_none:""}}</td>
                                <td>{{moc_type.standart_verification|default_if_none:""}}</td>
                                <td>{{moc_type.standart_repair|default_if_none:""}}</td>
                                <td>{{moc_type.rank_verification|default_if_none:""}}</td>
                                <td>{{moc_type.rank_repair|default_if_none:""}}</td>
                                <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="fill_modal_window(this)" id="submitButton">
                                    <img src="{% static 'img/pencil-square.svg' %}" fill="currentColor" alt="Изменить" width="24" height="24" />
                                </button></td>
                                <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="show_delete_modal(this)">
                                    <img src="{% static 'img/trash-fill.svg' %}" alt="Удалить" width="24" height="24" />
                                </button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id='form_container'>
            
            <div id="modal_window_add" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">Данные по типам СИ</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form id="modal_form" action="{%url 'moc_group_add'%}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-dark" type="submit">Сохранить</button>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_staff %}
            <div id="modal_window_migrate" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">Вы уверены?</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form action="{%url 'moc_type_migrate'%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ migration_form.as_table }}
                            <button class="btn btn-dark mt-2" type="submit">Подтвердить</button>
                            <button type="button" class="close btn btn-dark mt-2" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% include 'delete_confirmation_modal.html' %}
        </div>
    </div>
    </div>
{% endblock %}
