.several-columns {
  -webkit-column-count: 4; /* для Safari и Chrome */
  -moz-column-count: 4; /* для Firefox */
  column-count: 4;
}
.pagination .page-link {
    color: black;
}
.pagination .page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
    color: white;
}
.pagination .page-item:hover:not(.active) .page-link {
    background-color: #ddd;
    border-color: #212529;
    color: black;
}
.table-container {
    max-height: 700px;
    overflow-y: auto;
    display: block;
    width: 100%;
}
.table-container table {
    width: 100%;
}
/* Make the header sticky */
.table-container thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}
.table td.fit, 
.table th.fit {
   white-space: nowrap;
   width: 1%;
}