.several-columns {
  -webkit-column-count: 4; /* для Safari и Chrome */
  -moz-column-count: 4; /* для Firefox */
  column-count: 4;
}
.pagination .page-link {
    color: black;
}
.pagination .page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
    color: white;
}
.pagination .page-item:hover:not(.active) .page-link {
    background-color: #ddd;
    border-color: #212529;
    color: black;
}
.table-container {
    max-height: 700px;
    overflow-y: auto;
    display: block;
    width: 100%;
}
.table-container table {
    width: 100%;
}
/* Make the header sticky */
.table-container thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}
.table td.fit, 
.table th.fit {
   white-space: nowrap;
   width: 1%;
}
.table-container-little {
    max-height: 400px;
    overflow-y: auto;
    display: block;
    width: 100%;
}
.table-container-little table {
    width: 100%;
}
/* Make the header sticky */
.table-container-little thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}
/* Позиционирование подменю сбоку */
.dropdown-submenu .dropdown-menu { 
  position: absolute;
  top: 0; 
  left: 100%; 
  margin-top: -1px; 
}
/* Стилизация состояний наведения и фокуса */
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu {
    display: block;
}

.search-input{
    padding-right: 50px;
}

.search-button{
    margin-left: -50px;
    margin-bottom: 5px;
}

.table-fixed{
    table-layout: fixed;
}

.table-tr-hover:hover{
    border-width: 2px;
}

select{
    height: 28px;
    padding: 1px 2px 1px 2px;
}

input.form-control{
    height: 28px;
    padding: 1px 2px 1px 2px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
}

.modal.blur-sibling {
  filter: blur(2px);
  pointer-events: none;
  transition: filter 0.3s ease;
}