<div id="moc_indicators_modal" class="modal fade" aria-hidden='true' tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content form_content">
            <div class="modal-header">
                <h5 class="modal-title">Введите</h5>
                <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form id="modal_form" action="{% url 'moc_indicators' %}" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <button class="btn btn-dark" type="submit">Подтвердить</button>
                <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
            </form>
            </div>
        </div>
    </div>
</div>