<!DOCTYPE html>
<html lang='en'>
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Metrolog">
  <title>Metrolog</title>
  <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/my.css'%}" rel="stylesheet">
</head>

<body style="background-color:#dddddd;">
    <div class="">
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
                <div class="container-fluid"> 
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link" href="#">Паспорт</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Справки</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown10">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Справочники</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown10">
                                <li><a class="dropdown-item" href="{% url 'moc_group' %}">ГРУППЫ СИ</a></li>
                                <li><a class="dropdown-item" href="{% url 'department' %}">МЕСТО ЗАКРЕПЛЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'device_status' %}">СТАТУС ПРИБОРА</a></li>
                                <li><a class="dropdown-item" href="{% url 'change_type' %}">ВИД ИЗМЕРЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'repair' %}">ХАРАКТЕР РЕМОНТА</a></li>
                                <li><a class="dropdown-item" href="{% url 'precious_metals' %}">ДРАГМЕТАЛЛЫ</a></li>
                                <li><a class="dropdown-item" href="{% url 'moc_type' %}">ДАННЫЕ ПО ТИПАМ СИ</a></li>
                                <li><a class="dropdown-item" href="{% url 'units_measurement' %}">ЕДИНИЦЫ ИЗМЕРЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'verification_department' %}">ПОДРАЗДЕЛЕНИЯ ПОВЕРИТЕЛИ</a></li>
                                <li><a class="dropdown-item" href="{% url 'verification_person' %}">ПОВЕРИТЕЛИ ОТДЕЛА</a></li>
                                <li><a class="dropdown-item" href="{% url 'moc_limit' %}">ПРЕДЕЛЫ ИЗМЕРЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'repair_code' %}">КАТЕГОРИЯ РЕМОНТА</a></li>
                                <li><a class="dropdown-item" href="{% url 'instrument_failure' %}">ОТКАЗ ПРИБОРА</a></li>
                                <li><a class="dropdown-item" href="{% url 'repair_department' %}">РЕМОНТНИКИ ОТДЕЛА</a></li>
                                <li><a class="dropdown-item" href="{% url 'verification_sign' %}">ПРИЗНАК ПОВЕРКИ</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Администрирование</a></li>
                        <li class="nav-item"><form method="POST", action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="nav-link" type="submit">Выход</button>
                        </form></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div class="p-2"> 
        {% block content %}{% endblock %}
        {% block paginator %}
            {% if is_paginated %}
            <nav>
                <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{{ request.path }}?page={{page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
                            </li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_number == page_obj.number %}active dark{% endif %}">
                                <a
                                    href="{{ request.path }}?page={{ page_number }}"
                                    class="page-link "
                                >
                                    {{page_number}}
                                </a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next%}
                            <li class="page-item">
                                <a class="page-link" href="{{ request.path }}?page={{page_obj.next_page_number }}">Следующая</a>
                            </li>
                        {% endif %}
                </ul>
            </nav>
            {% endif %}
        {% endblock %}

    </div>

    {%block footer %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/update_form.js' %}"></script>
</body>

</html>