<!DOCTYPE html>
<html lang='en'>
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Metrolog">
  <title>Metrolog</title>
  <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/my.css'%}" rel="stylesheet">
  <style>
</style>
</head>

<body style="background-color:#dddddd;">
    <div class="">
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
                <div class="container-fluid"> 
                    <ul class="navbar-nav me-auto mb-2 mb-md-0 w-100">
                        <li class="nav-item"><a class="nav-link" href="{% url 'passport' %}">Паспорт</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Справки</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown10">
                                <li class="dropdown-submenu dropend nav-item">
                                    <a class="dropdown-toggle nav-link text-dark" id="dropdown11" href="#" data-bs-toggle="dropdown" aria-expanded="false">Поверочные работы</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown11">
                                        <li><a class="dropdown-item" href="{% url 'moc_verification_types' %}">Кол-во СИ по видам поверки</a></li>
                                        <li><a class="dropdown-item" href="{% url 'moc_in_storage' %}">Сведения о СИ на хран.</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'moc_in_use' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'moc_in_use')">Сведения о наличии типа СИ</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'memorandum' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'memorandum')">Служ. зап. (кроме встр.)</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'memorandum_builtin' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'memorandum_builtin')">Служ. зап. для встроен.</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'prescription' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'prescription')">Предп. кроме встроен.</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'prescription_builtin' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'prescription_builtin')">Предп. для встроен.</a></li>
                                        <li><a class="dropdown-item" href="{% url 'statement' %}">Вед. (кроме встр.)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'statement_builtin' %}">Вед. для встр. СИ</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'verification_log' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'verification_log')">Журнал поверки</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'receipt' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'receipt')">Квитанц. на получ. СИ</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'operating_time' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'operating_time')">Накопит. нар. прибор.</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'moc_presence' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'moc_presence')">Наличие СИ в подразд.</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'moc_presence_builtin' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'moc_presence_builtin')">Наличие СИ в подразд. встр.</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'completed_works' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'completed_works')">Ведом выполн. работ по пов. для цеха</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'verification_report' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'verification_report')">Отчёт по накопит. нарядам за месяц</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'moc_indicators' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'moc_indicators')">Перечень СИ, пер. в индик., по под.</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'moc_indicators_installed' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'moc_indicators_installed')">Перечень СИ, устан. на об. и пер. в инд.</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu dropend nav-item">
                                    <a class="dropdown-toggle nav-link text-dark" id="dropdown11" href="#" data-bs-toggle="dropdown" aria-expanded="false">Ремонтные работы</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown11">
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'repair_log' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'repair_log')">Журнал ремонта</a></li>
                                        <li><a class="dropdown-item" href="{% url 'repair_long_term' %}">СИ в долгосрочном ремонте</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'repair_operating_time' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'repair_operating_time')">Накопительный наряд</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'repair_report' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'repair_report')">Отчет по нарядам</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'repair_completed_works' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'repair_completed_works')">Ведомость выполненных работ для цеха за месяц</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'repair_statement' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'repair_statement')">Ведомость ремонтов за месяц</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu dropend nav-item">
                                    <a class="dropdown-toggle nav-link text-dark" id="dropdown11" href="#" data-bs-toggle="dropdown" aria-expanded="false">Экономические вопросы</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown11">
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'econom_verif_costs' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'econom_verif_costs')">Затраты подразделений на госповерку за месяц</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'econom_verif_costs_metr' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'econom_verif_costs_metr')">Затраты отдела метрологии на госповерку за месяц</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'econom_verif_costs_period' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'econom_verif_costs_period')">Затраты подразделений на госповерку на год, месяц</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'econom_ref' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'econom_ref')">Справка о трудоемкости работ по видам измерений</a></li>
                                        <li><a class="dropdown-item" href="{% url 'econom_standarts' %}">Нормы времени на поверку и ремонт СИ</a></li>
                                        <li><a class="dropdown-item" role="button" hx-get="{% url 'econom_verif_standarts' %}" hx-target="#dynamic_modal" hx-on::after-request="show_modal_in_generic(this, 'econom_verif_standarts')">Справка о трудоемкости поверочных работ по цеху</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown12" data-bs-toggle="dropdown" aria-expanded="false">Справочники</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown12">
                                <li><a class="dropdown-item" href="{% url 'moc_group' %}">ГРУППЫ СИ</a></li>
                                <li><a class="dropdown-item" href="{% url 'department' %}">МЕСТО ЗАКРЕПЛЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'device_status' %}">СТАТУС ПРИБОРА</a></li>
                                <li><a class="dropdown-item" href="{% url 'change_type' %}">ВИД ИЗМЕРЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'repair' %}">ХАРАКТЕР РЕМОНТА</a></li>
                                <li><a class="dropdown-item" href="{% url 'precious_metals' %}">ДРАГМЕТАЛЛЫ</a></li>
                                <li><a class="dropdown-item" href="{% url 'moc_type' %}">ДАННЫЕ ПО ТИПАМ СИ</a></li>
                                <li><a class="dropdown-item" href="{% url 'units_measurement' %}">ЕДИНИЦЫ ИЗМЕРЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'verification_department' %}">ПОДРАЗДЕЛЕНИЯ ПОВЕРИТЕЛИ</a></li>
                                <li><a class="dropdown-item" href="{% url 'verification_person' %}">ПОВЕРИТЕЛИ ОТДЕЛА</a></li>
                                <li><a class="dropdown-item" href="{% url 'moc_limit' %}">ПРЕДЕЛЫ ИЗМЕРЕНИЯ</a></li>
                                <li><a class="dropdown-item" href="{% url 'repair_code' %}">КАТЕГОРИЯ РЕМОНТА</a></li>
                                <li><a class="dropdown-item" href="{% url 'instrument_failure' %}">ОТКАЗ ПРИБОРА</a></li>
                                <li><a class="dropdown-item" href="{% url 'repair_department' %}">РЕМОНТНИКИ ОТДЕЛА</a></li>
                                <li><a class="dropdown-item" href="{% url 'verification_sign' %}">ПРИЗНАК ПОВЕРКИ</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown13" data-bs-toggle="dropdown" aria-expanded="false">Администрирование</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown13">
                                <li><a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a></li>
                                <li><a class="dropdown-item" href="{% url 'settings' user.usersettings.id %}">Настройки</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ms-auto"><form method="POST", action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="nav-link" type="submit">Выход</button>
                        </form></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div class="p-2"> 
        {% block content %}{% endblock %}
        <div class="fixed-bottom text-white p-3">
        {% block paginator %}
            {% if is_paginated %}
            <nav>
                <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% querystring page=page_obj.previous_page_number %}" tabindex="-1">Предыдущая</a>
                            </li>
                        {% endif %}

                        {% for page_number in paginator_range %}
                            <li class="page-item {% if page_number == page_obj.number %}active dark{% endif %}">
                            {% if page_number == paginator.ELLIPSIS %}
                                <a href="#" class="page-link " >
                                    {{page_number}}
                                </a>
                            {% else %}
                                <a href="{% querystring page=page_number %}" class="page-link " >
                                    {{page_number}}
                                </a>
                            {% endif %}
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next%}
                            <li class="page-item">
                                <a class="page-link" href="{% querystring page=page_obj.next_page_number %}">Следующая</a>
                            </li>
                        {% endif %}
                    <li class='ms-auto'>
                        <div id='pagination_settings'>
                            <div id='form_container'>
                                <form id="modal_form" action="{%url 'set_pagination' user.usersettings.id %}" method="post">
                                    {% csrf_token %}
                                    <select class="form-select" style='height: auto;' name='pagination_size' aria-label="Записей на странице" onchange="this.form.submit()">
                                        <option value="" selected disabled hidden></option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            {% endif %}
        {% endblock %}
        
        </div>
        {% include 'general/print_modal.html' %}
        <div id='dynamic_modal'></div>
        <div id="loader-wrapper" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff; opacity: 0.3; z-index: 9999; display: none; justify-content: center; align-items: center;">
            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
    </div>

    {%block footer %}
    {% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/update_form.js' %}"></script>
    <script src="{% static 'js/printing.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
</body>

</html>