<div id="modal_window_delete" class="modal fade" aria-hidden='true' tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content form_content">
            <div class="modal-header">
                <h5 class="modal-title">Точно хотите удалить?</h5>
                <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    
                    <button class="btn btn-dark" type="submit" id="delete_button" onclick="makedelete(this)" data="">{% csrf_token %}Удалить</button>
                    <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
            </div>
        </div>
    </div>
</div>