{% load static %}
{% load form_tags %}
{% csrf_token %}
<table>
    {% for field in tform %}
        <tr>
            <th>
                {% if not field|is_moc_list %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
            </th>
            <td>
                {{ field }}
                {% if field|is_foreign_key and not field|is_moc_list%}
                    <a hx-get="{% url 'passport_'|add:field.name %}" hx-target="#handbooks_add_modal" hx-on::after-request="show_modal_in_passport(this, '{{'passport_table'}}')">
                        <img src="{% static 'img/plus-square-fill.svg' %}" fill="currentColor" alt="Добавить" width="24" height="24" />
                    </a>
                {% endif %}
            </td>
            <td>
                {% if field.errors %}
                    <div class="error-msg">{{ field.errors }}</div>
                {% endif %}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<button class="btn btn-dark" type="submit">Сохранить</button>
<button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
