{% extends 'base_generic.html' %}
{% load static %}
{% load form_tags %}
{% block  content %}
    <div class='container-fluid'>
    <div class='col'>
        <div class=''>
            <h5>Паспорта</h5>
            <div class='d-flex justify-content-end'>
                <div class="">
                    {% if user.is_staff %}
                        <button class="btn btn-dark me-1" data-bs-toggle="modal" data-bs-target="#modal_window_migrate" type="button">Скопировать старую БД</button>
                    {% endif %}
                    <form action="" method="get" class="d-inline">
                        <input class='search-input' type="text" name="q" placeholder="Поиск" value="{{ request.GET.q|default_if_none:"" }}">
                        <button type="submit" class="search-button btn btn-primary-outline border-0">
                            <img src="{% static 'img/search.svg' %}" alt="Искать" width="24" height="24" />
                        </button>
                    </form>
                    <button type="button" class="btn btn-dark" onclick="flush_modal_window(this)">Добавить запись</button>
                </div>
            </div>
            
            <div class="table-container">
                <table class="table table-hover table-striped table-bordered border border-dark w-100">
                    <thead>
                        <th><strong>Наименование прибора</strong></th>
                        <th><strong>Тип</strong></th>
                        <th><strong>Заводской номер</strong></th>
                        <th><strong>Инвентарный номер</strong></th>
                        <th><strong>Место закрепления</strong></th>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr class='position-relative table-tr-hover'>
                                <td><span id='moc_group_name' value={{object.moc_group.id}}>{{object.moc_group.name|default_if_none:""}}</span></td>
                                <td><span id='moc_type_type' value={{object.moc_type.id}}>{{object.moc_type.type|default_if_none:""}}</span></td>
                                <td><span id='factory_number'>{{object.factory_number|default_if_none:""}}</span></td>
                                <td><span id='inv_number'>{{object.inv_number|default_if_none:""}}</span></td>
                                <td><strong>Цех:</strong> <span id='department_workshop'>{{object.device_location.last.department.workshop|default_if_none:""}}</span>
                                    <strong class='ms-2'>Бригада:</strong> <span id='department_brigade'>{{object.device_location.last.department.brigade|default_if_none:""}}</span>
                                    <a href="{% url 'passport_detail' pk=object.id %}" class="stretched-link"></a>
                                </td>
                            </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="modal_window_add" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">ПАСПОРТНЫЕ ДАННЫЕ СИ</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form id="modal_form" action="" method="post">
                            {% csrf_token %}
                            <table>
                                {% for field in form %}
                                    <tr>
                                        <th>
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        </th>
                                        <td>
                                            {{ field }}
                                            {% if field|is_foreign_key %}
                                                <a hx-get="{% url 'passport_'|add:field.name %}"
                                                hx-target="#handbooks_add_modal"
                                                hx-on::before-request="save_form(this)"
                                                hx-on::after-request="show_modal_in_passport(this, '{{'passport_'|add:field.name}}')">
                                                    <img src="{% static 'img/plus-square-fill.svg' %}" fill="currentColor" alt="Добавить" width="24" height="24" />
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if field.errors %}
                                                <div class="error-msg">{{ field.errors }}</div>
                                            {% endif %}
                                            {% if field.help_text %}
                                                <p class="help-text">{{ field.help_text }}</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <button class="btn btn-dark" type="submit">Сохранить</button>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id='handbooks_add_modal' />
            {% if user.is_staff %}
            <div id="modal_window_migrate" class="modal fade" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">Вы уверены?</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form action="{% url 'passport_migrate' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ migration_form.as_table }}
                            <button class="btn btn-dark mt-2" type="submit">Подтвердить</button>
                            <button type="button" class="close btn btn-dark mt-2" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}