{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class='container-fluid'>
    <div class='col'>
        <div class=''>
            <h5>Паспортные данные СИ</h5>
            
            <div id='main_container' value={{object.id}} class="">
                <table class="table table-bordered border border-dark w-100">
                    <tbody>
                            <tr>
                                <td><strong>Наименование прибора</strong><p id='moc_group_name' value={{object.moc_group.id}}>{{object.moc_group.name}}</p></td>
                                <td><strong>Тип</strong><p id='moc_type_type' value={{object.moc_type.id}}>{{object.moc_type.type}}</p></td>
                                <td><strong>Заводской номер</strong><p id='factory_number'>{{object.factory_number}}</p></td>
                                <td><strong>Инвентарный номер</strong><p id='inv_number'>{{object.inv_number}}</p></td>
                                <td><strong>Место закрепления</strong>
                                <p><strong>Цех:</strong> <span id='department_workshop'>{{object.device_location.last.department.workshop}}</span>
                                    <strong>Бригада:</strong> <span id='department_brigade'>{{object.device_location.last.department.brigade}}</span></p></td>
                            </tr>
                            <tr>
                                <td><strong>Поверка</strong><p id='verification_type'>{{object.verification_type}}</p></td>
                                <td><strong>Период поверки</strong><p id='verification_period'>{{object.verification_period}}</p></td>
                                <td><strong>Поверочное подразделение</strong><p id='verification_department_name' value={{object.verification_department.id}}>{{object.verification_department.name}}</p></td>
                                <td colspan="2"><strong>Вид измерения</strong><p id='change_type_name' value={{object.change_type.id}}>{{object.change_type.name}}</p></td>
                            </tr>
                            <tr>
                                <td><strong>Учёт СИ по бухгалтерии</strong><p id='sign_o_m'>{{object.sign_o_m}}</p></td>
                                <td><strong>Категория СИ</strong><p id='sign_o_r'>{{object.sign_o_r}}</p></td>
                                <td><strong>Инвентарный № оборудования</strong><p id='device_station_station_inv_number'>{{object.device_station.station_inv_number}}</p></td>
                                <td colspan="2"><strong>Наименование</strong><p id='device_station_station_name'>{{object.device_station.station_name}}</p></td>
                            </tr>
                    </tbody>
                </table>
            <div class="">
                <div>
                    <div id='buttons_container' class='d-flex justify-content-between'>
                        <div class="">
                            <button type="button" class="btn btn-light" onclick="show_table(this, 'verification')">Поверка</button>
                            <button type="button" class="btn btn-primary-outline" onclick="show_table(this, 'repair')">Ремонт</button>
                            <button type="button" class="btn btn-primary-outline" onclick="show_table(this, 'location')">Место закрепления</button>
                            <button type="button" class="btn btn-primary-outline" onclick="show_table(this, 'status')">Статус</button>
                            <button type="button" class="btn btn-primary-outline" onclick="show_table(this, 'metall')">Драгметаллы</button>
                        </div>
                    </div>
                    <div id='table_container'>
                        <div id='verification' class="table-container-little">
                            <table class="table table-striped table-bordered border border-dark w-100">
                                <thead>
                                    <th>Дата поступл.</th>
                                    <th>Дата поверки</th>
                                    <th>Дата выдачи в цех</th>
                                    <th>Резул.</th>
                                    <th>Поверитель</th>
                                    <th>Признак пов.</th>
                                    <th>№ Док.</th>
                                    <th colspan="2">
                                        <button id='btn-show-modal' class='btn btn-dark' type='button' onclick="flush_modal_window_table(this, 'verification')">Добавить</button>
                                    </th>
                                </thead>
                                <tbody>
                                    {% for verification in object.verification_info.all %}
                                        <tr value={{verification.id}}>
                                            <td id='entry_date'>{{verification.entry_date|date:"Y-m-d"}}</td>
                                            <td id='verification_date'>{{verification.verification_date|date:"Y-m-d"}}</td>
                                            <td id='workshop_issue_date'>{{verification.workshop_issue_date|date:"Y-m-d"}}</td>
                                            <td id='verification_result'>{{verification.verification_result}}</td>
                                            <td id='verification_person'>{{verification.verification_person.fio}}</td>
                                            <td id='verification_sign'>{{verification.verification_sign.name}}</td>
                                            <td id='verification_document_num'>{{verification.verification_document_num}}</td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="fill_modal_window_table(this, 'verification')" id="submitButton">
                                                <img src="{% static 'img/pencil-square.svg' %}" fill="currentColor" alt="Изменить" width="24" height="24" />
                                            </button></td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="show_delete_table(this, 'verification', {{verification.id}})">
                                                <img src="{% static 'img/trash-fill.svg' %}" alt="Удалить" width="24" height="24" />
                                            </button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id='repair' class="table-container-little d-none">
                            <table class="table table-striped table-bordered border border-dark w-100">
                                <thead>
                                    <th>Дата поступл.</th>
                                    <th>Дата выд. в рем.</th>
                                    <th>Дата ремонта</th>
                                    <th>Вид ремонта</th>
                                    <th>Хар-р ремонта</th>
                                    <th>Кат. ремонта</th>
                                    <th>Причина отказа</th>
                                    <th>Ремонтник</th>
                                    <th colspan="2">
                                        <button id='btn-show-modal' class='btn btn-dark' type='button' onclick="flush_modal_window_table(this, 'repair')">Добавить</button>
                                    </th>
                                </thead>
                                <tbody>
                                    {% for repair in object.repair_info.all %}
                                        <tr value={{repair.id}}>
                                            <td id='entry_date'>{{repair.entry_date|date:"Y-m-d"}}</td>
                                            <td id='entry_repair_date'>{{repair.entry_repair_date|date:"Y-m-d"}}</td>
                                            <td id='repair_date'>{{repair.repair_date|date:"Y-m-d"}}</td>
                                            <td id='repair_type'>{{repair.repair_type}}</td>
                                            <td id='repair'>{{repair.repair.name}}</td>
                                            <td id='repair_code'>{{repair.repair_code.name}}</td>
                                            <td id='verification_sign'>{{repair.verification_sign.name}}</td>
                                            <td id='repair_department'>{{repair.repair_department.name}}</td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="fill_modal_window_table(this, 'repair')" id="submitButton">
                                                <img src="{% static 'img/pencil-square.svg' %}" fill="currentColor" alt="Изменить" width="24" height="24" />
                                            </button></td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="show_delete_table(this, 'repair', {{repair.id}})">
                                                <img src="{% static 'img/trash-fill.svg' %}" alt="Удалить" width="24" height="24" />
                                            </button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id='location' class="table-container-little d-none">
                            <table class="table table-striped table-bordered border border-dark w-100">
                                <thead>
                                    <th>Цех</th>
                                    <th>Бригада</th>
                                    <th>Дата</th>
                                    <th colspan="2">
                                        <button id='btn-show-modal' class='btn btn-dark' type='button' onclick="flush_modal_window_table(this, 'location')">Добавить</button>
                                    </th>
                                </thead>
                                <tbody>
                                    {% for location in object.device_location.all %}
                                        <tr value={{location.id}}>
                                            <td id='department'>{{location.department.workshop}}</td>
                                            <td id=''>{{location.department.brigade}}</td>
                                            <td id='entry_date'>{{location.entry_date|date:"Y-m-d"}}</td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="fill_modal_window_table(this, 'location')" id="submitButton">
                                                <img src="{% static 'img/pencil-square.svg' %}" fill="currentColor" alt="Изменить" width="24" height="24" />
                                            </button></td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="show_delete_table(this, 'location', {{location.id}})">
                                                <img src="{% static 'img/trash-fill.svg' %}" alt="Удалить" width="24" height="24" />
                                            </button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id='status' class="table-container-little d-none">
                            <table class="table table-striped table-bordered border border-dark w-100">
                                <thead>
                                    <th>Статус</th>
                                    <th>Дата присвоения</th>
                                    <th colspan="2">
                                        <button id='btn-show-modal' class='btn btn-dark' type='button' onclick="flush_modal_window_table(this, 'status')">Добавить</button>
                                    </th>
                                </thead>
                                <tbody>
                                    {% for status in object.device_status_date.all %}
                                        <tr value={{status.id}}>
                                            <td id='device_status'>{{status.device_status.name}}</td>
                                            <td id='status_date'>{{status.status_date|date:"Y-m-d"}}</td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="fill_modal_window_table(this, 'status')" id="submitButton">
                                                <img src="{% static 'img/pencil-square.svg' %}" fill="currentColor" alt="Изменить" width="24" height="24" />
                                            </button></td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="show_delete_table(this, 'status', {{status.id}})">
                                                <img src="{% static 'img/trash-fill.svg' %}" alt="Удалить" width="24" height="24" />
                                            </button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id='metall' class="table-container-little d-none">
                            <table class="table table-striped table-bordered border border-dark w-100">
                                <thead>
                                    <th>Драгметалл</th>
                                    <th>Содержание</th>
                                    <th colspan="2">
                                        <button id='btn-show-modal' class='btn btn-dark' type='button' onclick="flush_modal_window_table(this, 'metall')">Добавить</button>
                                    </th>
                                </thead>
                                <tbody>
                                    {% for metall in object.moc_metals.all %}
                                        <tr value={{metall.id}}>
                                            <td id='precious_metals'>{{metall.precious_metals.name}}</td>
                                            <td id='metal_amount'>{{metall.metal_amount}}</td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="fill_modal_window_table(this, 'metall')" id="submitButton">
                                                <img src="{% static 'img/pencil-square.svg' %}" fill="currentColor" alt="Изменить" width="24" height="24" />
                                            </button></td>
                                            <td class="border-0 fit"><button type="button" class="btn btn-primary-outline" onclick="show_delete_table(this, 'metall', {{metall.id}})">
                                                <img src="{% static 'img/trash-fill.svg' %}" alt="Удалить" width="24" height="24" />
                                            </button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="">
                        <button type="button" class="btn btn-light" onclick="fill_modal_moc_list(this)">Изменить запись</button>
                        <button type="button" class="btn btn-light" onclick="show_delete_moc_list(this)">Удалить запись</button>
                    </div>
                </div>
            </div>

            <div id="modal_window_add" class="modal fade" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">ПАССПОРТНЫЕ ДАННЫЕ СИ</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form id="modal_form" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-dark" type="submit">Сохранить</button>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal_window_add_table" class="modal fade" aria-hidden='true' tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form_content">
                        <div class="modal-header">
                            <h5 class="modal-title">ПАССПОРТНЫЕ ДАННЫЕ СИ</h5>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal_form_collection">
                        {% for key, tform in table_forms.items %}
                        <form id="modal_form_table_{{key}}" class="d-none" action="" method="post">
                            {% csrf_token %}
                                {{ tform.as_p }}
                            <button class="btn btn-dark" type="submit">Сохранить</button>
                            <button type="button" class="close btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                        </form>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            {% include 'passport/passport_delete_confirmation_modal.html' %}
            {% include 'passport/table_delete_confirmation_modal.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}